* {
    box-sizing: border-box;
}

form {
    background: #fff;
    width: 30%;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
}

.form {
    width: 70%;
    margin: auto;
}